.container{
  margin-left: 16px ;
  margin-right: 16px;
}

.basketMenu {
  background-color: whitesmoke;
  width: 500px;
  height: 100vh;
  display: inline;
  justify-content: center;
  position: fixed;
  top: 0;
  right: -100%;
  transition: 2000ms;
}
.basketMenuActive {
  background-color: #fff;
  border: 1px solid #000;
  width: 500px;
  height: 90vh;
  display: inline;
  justify-content: center;
  position: fixed;
  top: 10vh;
  right: 0;
  transition: 500ms;
}

.input{
  height: 24px;
  width: 70px;
}

