.brands{
  height: 48px;
  width: 28%;
  margin-left: 45px;
  margin-top: 28px;
  margin-bottom: 38px;
  border: 1px hidden #E2E8F0;
}

.model{
  height: 48px;
  width: 28%;
  margin-left: 16px;
  margin-top: 28px;
  margin-bottom: 38px;
  border: 1px hidden #E2E8F0;
}

.input{
  height: 38px;
  width: 28%;
  margin-left: 16px;
  margin-right: 95px;
  margin-top: 28px;
  margin-bottom: 38px;

  border: 1px solid #E2E8F0;
}